@page "/"
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link href="css/landing.css" rel="stylesheet" />

<div class="landing-container">
    <h1>Welcome to ExpenseTracker.</h1>
    

    <div>
        <button @onclick="NavigateToRegister">Register</button>
        <button @onclick="NavigateToLogin">Login</button>
    </div>
</div>

@code {
    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
