
        <!-- Add new links for Login and Dashboard -->
@*         <p> *@
@*             <a href="/login">Login</a> | <a href="/dashboard">Dashboard</a> *@
@*         </p> *@
@*     </nav> *@
@* </div> *@
